<html>

	<head>
		<title>Meu blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Projeto Django</a></h1>
		</div>

		<div>
			<p>publicado: 17/06/2020, 00:53</p>
			<h2><a href="">Meu primeiro post</a></h2>
			<p>Praesent nec odio fringilla, ornare nunc tempor, dignissim massa. Vivamus ac luctus magna. Ut efficitur, velit a eleifend volutpat, nunc eros eleifend enim, id placerat libero purus gravida velit. Donec eu ipsum eget neque gravida pellentesque. Suspendisse dictum nunc ut nibh dignissim posuere. Nam a ultricies lacus. Nam egestas, risus sed sodales semper, magna urna cursus ex, id suscipit dui erat vitae metus. Nam id nulla nunc. Quisque bibendum neque sit amet egestas ultricies. Sed eu odio maximus, consectetur mi nec, condimentum lectus. Fusce id orci venenatis, congue ex in, dignissim ligula. Proin id maximus ligula. Curabitur commodo lacinia lacus ut venenatis. Nam dapibus sit amet purus non iaculis. Quisque vitae dolor nibh. Etiam lobortis metus id neque pretium, non volutpat ipsum sodales.</p>
		</div>

		<div>
			<p>publicado: 14.06.2014, 12:14</p>
			<h2><a href="">Meu segundo post</a></h2>
			<p>Etiam rutrum porttitor lectus, et lacinia leo efficitur ac. Integer vehicula urna sed congue porttitor. Donec urna lectus, ultrices hendrerit odio nec, mollis ultrices enim. Suspendisse dui ligula, scelerisque eget aliquam sit amet, ultricies nec ipsum. Fusce lobortis sem vel condimentum vestibulum. Donec quis nulla turpis. Nunc a augue eget tellus lobortis elementum. Proin consectetur tortor a facilisis facilisis. Curabitur finibus justo nec purus venenatis, nec malesuada odio pellentesque.</p>
		</div>
	</body>
</html>